---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const rawPosts = await Astro.glob('./kurslar/*.md');
const allPosts = rawPosts;
const pageTitle = "Sizin için uygun planlar";
---

<BaseLayout>
  <h1 class="blog-page-title">{pageTitle}</h1>

  <ul class="blog-list kurs-grid">
    {allPosts.map((post) => (
      <li class:list={['blog-item', post.frontmatter.theme]}> 
        <a href={post.url} class="blog-link">
          {post.frontmatter.image && (
            <img src={post.frontmatter.image}  class="blog-image" alt={post.frontmatter.title} />
          )}
          <h2 class="blog-post-title">{post.frontmatter.title}</h2>
          <p class="blog-description">{post.frontmatter.description}</p>
        </a>
      </li>
    ))}
  </ul>

</BaseLayout>