---
import BaseLayout from '../layouts/BaseLayout.astro';

const rawPosts = await Astro.glob('../pages/kurslar/*.md');
const pageTitle = "Eğitim Planları";
const allPosts = rawPosts.slice(0, 3); 
---

  
  <h1 class="blog-page-title">{pageTitle}</h1>

  <ul class="blog-list">
    {allPosts.map((post) => (
      <li class="card blog-item"> 
        <a href={post.url} class="blog-link">
          {post.frontmatter.image && (
            <img src={post.frontmatter.image}  class="blog-image" alt={post.frontmatter.title} />
          )}
          <div class="blog-content">
            <h2 class="blog-post-title">{post.frontmatter.title}</h2>
            <p class="blog-description">{post.frontmatter.description}</p>
            
            {post.frontmatter.maddeler && Array.isArray(post.frontmatter.maddeler) && (
              <ul class="kart-maddeleri">
                {post.frontmatter.maddeler.map((madde) => (
                  <li>{madde}</li>
                ))}
              </ul>
            )}
          </div>
        </a>
      </li>
    ))}
  </ul>

  <style>
    /* @keyframes fadeInUp, 
      animasyon atamaları (.blog-page-title, .blog-list li) 
      ve animasyon gecikmeleri (.animation-delay) kaldırıldı.
    */

    .blog-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      
     
      max-width: 260px;
      min-height: 560px; 
      
      
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
      
    }
    .blog-content {
      flex-grow: 1; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      
     
      padding-bottom: 50px; 
    }
    
    .kart-maddeleri {
      list-style-type: disc; 
      list-style-position: inside; 
      padding-left: 0; 
      margin: 20px auto 0;
      font-size: 0.9rem; 
      color: #555; 
      max-width: 90%;
      text-align: left;
    }
    .kart-maddeleri li {
      margin-bottom: 4px; 
      padding: 0; 
      background-color: transparent; 
      border: none;
      transition: none;
    }
    .kart-maddeleri li:hover { background-color: transparent; } 
    
    html.dark .kart-maddeleri { 
      color: #ccc; 
    }
    html.dark .kart-maddeleri li {
      background-color: transparent;
      border: none;
    }
    html.dark .kart-maddeleri li:hover { 
      background-color: transparent; 
    }
 
    .blog-list li:nth-child(1).blog-item {
      background-color: #fff5f5; 
    }
    html.dark .blog-list li:nth-child(1).blog-item {
      background-color: #2a1f1f; 
    }

    .blog-list li:nth-child(2).blog-item {
      background-color: #f0f9ff; 
    }
    html.dark .blog-list li:nth-child(2).blog-item {
      background-color: #1e2533; 
    }

    .blog-list li:nth-child(3).blog-item {
      background-color: #f0fdf4; 
    }
    html.dark .blog-list li:nth-child(3).blog-item {
      background-color: #1f2a23; 
    }
  </style>